# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Build outputs
dist
build
coverage

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
.vscode
.idea
